Core.Business/Service References/FanAvaServices_Mobile/MobileServiceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://incomingwebchannel.hrz.jpos.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="MobileServiceService" targetNamespace="http://incomingwebchannel.hrz.jpos.org/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="https://nafisswitch.fanavacard.com:8443/nafis-web-4/services/mobile?xsd=1" namespace="http://incomingwebchannel.hrz.jpos.org/" />
    </xsd:schema>
  </types>
  <Message name="requestWithId">
    <part name="parameters" element="tns:requestWithId" />
  </Message>
  <Message name="requestWithIdResponse">
    <part name="parameters" element="tns:requestWithIdResponse" />
  </Message>
  <Message name="getCard">
    <part name="parameters" element="tns:getCard" />
  </Message>
  <Message name="getCardResponse">
    <part name="parameters" element="tns:getCardResponse" />
  </Message>
  <Message name="login">
    <part name="parameters" element="tns:login" />
  </Message>
  <Message name="loginResponse">
    <part name="parameters" element="tns:loginResponse" />
  </Message>
  <Message name="billInq">
    <part name="parameters" element="tns:billInq" />
  </Message>
  <Message name="billInqResponse">
    <part name="parameters" element="tns:billInqResponse" />
  </Message>
  <Message name="billRequest">
    <part name="parameters" element="tns:billRequest" />
  </Message>
  <Message name="billRequestResponse">
    <part name="parameters" element="tns:billRequestResponse" />
  </Message>
  <Message name="fundInquiry">
    <part name="parameters" element="tns:fundInquiry" />
  </Message>
  <Message name="fundInquiryResponse">
    <part name="parameters" element="tns:fundInquiryResponse" />
  </Message>
  <Message name="fundInquiryPlain">
    <part name="parameters" element="tns:fundInquiryPlain" />
  </Message>
  <Message name="fundInquiryPlainResponse">
    <part name="parameters" element="tns:fundInquiryPlainResponse" />
  </Message>
  <Message name="paymentRequest">
    <part name="parameters" element="tns:paymentRequest" />
  </Message>
  <Message name="paymentRequestResponse">
    <part name="parameters" element="tns:paymentRequestResponse" />
  </Message>
  <Message name="balance">
    <part name="parameters" element="tns:balance" />
  </Message>
  <Message name="balanceResponse">
    <part name="parameters" element="tns:balanceResponse" />
  </Message>
  <Message name="fundTransfer">
    <part name="parameters" element="tns:fundTransfer" />
  </Message>
  <Message name="fundTransferResponse">
    <part name="parameters" element="tns:fundTransferResponse" />
  </Message>
  <Message name="fundTransferPlain">
    <part name="parameters" element="tns:fundTransferPlain" />
  </Message>
  <Message name="fundTransferPlainResponse">
    <part name="parameters" element="tns:fundTransferPlainResponse" />
  </Message>
  <Message name="topupMTN">
    <part name="parameters" element="tns:topupMTN" />
  </Message>
  <Message name="topupMTNResponse">
    <part name="parameters" element="tns:topupMTNResponse" />
  </Message>
  <Message name="topupMTNSingle">
    <part name="parameters" element="tns:topupMTNSingle" />
  </Message>
  <Message name="topupMTNSingleResponse">
    <part name="parameters" element="tns:topupMTNSingleResponse" />
  </Message>
  <Message name="topupSetaval">
    <part name="parameters" element="tns:topupSetaval" />
  </Message>
  <Message name="topupSetavalResponse">
    <part name="parameters" element="tns:topupSetavalResponse" />
  </Message>
  <Message name="getCardList">
    <part name="parameters" element="tns:getCardList" />
  </Message>
  <Message name="getCardListResponse">
    <part name="parameters" element="tns:getCardListResponse" />
  </Message>
  <Message name="topupSetavalSingle">
    <part name="parameters" element="tns:topupSetavalSingle" />
  </Message>
  <Message name="topupSetavalSingleResponse">
    <part name="parameters" element="tns:topupSetavalSingleResponse" />
  </Message>
  <Message name="jiringBillInquiry">
    <part name="parameters" element="tns:jiringBillInquiry" />
  </Message>
  <Message name="jiringBillInquiryResponse">
    <part name="parameters" element="tns:jiringBillInquiryResponse" />
  </Message>
  <Message name="jiringBillRequest">
    <part name="parameters" element="tns:jiringBillRequest" />
  </Message>
  <Message name="jiringBillRequestResponse">
    <part name="parameters" element="tns:jiringBillRequestResponse" />
  </Message>
  <Message name="balanceCP">
    <part name="parameters" element="tns:balanceCP" />
  </Message>
  <Message name="balanceCPResponse">
    <part name="parameters" element="tns:balanceCPResponse" />
  </Message>
  <Message name="requestCP">
    <part name="parameters" element="tns:requestCP" />
  </Message>
  <Message name="requestCPResponse">
    <part name="parameters" element="tns:requestCPResponse" />
  </Message>
  <Message name="paymentRequestCP">
    <part name="parameters" element="tns:paymentRequestCP" />
  </Message>
  <Message name="paymentRequestCPResponse">
    <part name="parameters" element="tns:paymentRequestCPResponse" />
  </Message>
  <Message name="billRequestCP">
    <part name="parameters" element="tns:billRequestCP" />
  </Message>
  <Message name="billRequestCPResponse">
    <part name="parameters" element="tns:billRequestCPResponse" />
  </Message>
  <Message name="topupMTNCP">
    <part name="parameters" element="tns:topupMTNCP" />
  </Message>
  <Message name="topupMTNCPResponse">
    <part name="parameters" element="tns:topupMTNCPResponse" />
  </Message>
  <Message name="topupMTNCPSingle">
    <part name="parameters" element="tns:topupMTNCPSingle" />
  </Message>
  <Message name="topupMTNCPSingleResponse">
    <part name="parameters" element="tns:topupMTNCPSingleResponse" />
  </Message>
  <Message name="topupSetavalCP">
    <part name="parameters" element="tns:topupSetavalCP" />
  </Message>
  <Message name="topupSetavalCPResponse">
    <part name="parameters" element="tns:topupSetavalCPResponse" />
  </Message>
  <Message name="topupSetavalCPSingle">
    <part name="parameters" element="tns:topupSetavalCPSingle" />
  </Message>
  <Message name="topupSetavalCPSingleResponse">
    <part name="parameters" element="tns:topupSetavalCPSingleResponse" />
  </Message>
  <Message name="settlement">
    <part name="parameters" element="tns:settlement" />
  </Message>
  <Message name="settlementResponse">
    <part name="parameters" element="tns:settlementResponse" />
  </Message>
  <Message name="reversal">
    <part name="parameters" element="tns:reversal" />
  </Message>
  <Message name="reversalResponse">
    <part name="parameters" element="tns:reversalResponse" />
  </Message>
  <Message name="refund">
    <part name="parameters" element="tns:refund" />
  </Message>
  <Message name="refundResponse">
    <part name="parameters" element="tns:refundResponse" />
  </Message>
  <Message name="walletCharge">
    <part name="parameters" element="tns:walletCharge" />
  </Message>
  <Message name="walletChargeResponse">
    <part name="parameters" element="tns:walletChargeResponse" />
  </Message>
  <Message name="walletBalance">
    <part name="parameters" element="tns:walletBalance" />
  </Message>
  <Message name="walletBalanceResponse">
    <part name="parameters" element="tns:walletBalanceResponse" />
  </Message>
  <Message name="walletRequest">
    <part name="parameters" element="tns:walletRequest" />
  </Message>
  <Message name="walletRequestResponse">
    <part name="parameters" element="tns:walletRequestResponse" />
  </Message>
  <Message name="walletTopupMTN">
    <part name="parameters" element="tns:walletTopupMTN" />
  </Message>
  <Message name="walletTopupMTNResponse">
    <part name="parameters" element="tns:walletTopupMTNResponse" />
  </Message>
  <Message name="walletTopupMTNSingle">
    <part name="parameters" element="tns:walletTopupMTNSingle" />
  </Message>
  <Message name="walletTopupMTNSingleResponse">
    <part name="parameters" element="tns:walletTopupMTNSingleResponse" />
  </Message>
  <Message name="walletTopupSetaval">
    <part name="parameters" element="tns:walletTopupSetaval" />
  </Message>
  <Message name="walletTopupSetavalResponse">
    <part name="parameters" element="tns:walletTopupSetavalResponse" />
  </Message>
  <Message name="walletTopupSetavalSingle">
    <part name="parameters" element="tns:walletTopupSetavalSingle" />
  </Message>
  <Message name="walletTopupSetavalSingleResponse">
    <part name="parameters" element="tns:walletTopupSetavalSingleResponse" />
  </Message>
  <Message name="supportCollection">
    <part name="parameters" element="tns:supportCollection" />
  </Message>
  <Message name="supportCollectionResponse">
    <part name="parameters" element="tns:supportCollectionResponse" />
  </Message>
  <Message name="request">
    <part name="parameters" element="tns:request" />
  </Message>
  <Message name="requestResponse">
    <part name="parameters" element="tns:requestResponse" />
  </Message>
  <Message name="config">
    <part name="parameters" element="tns:config" />
  </Message>
  <Message name="configResponse">
    <part name="parameters" element="tns:configResponse" />
  </Message>
  <portType name="ISoapMobile">
    <operation name="requestWithId">
      <input wsam:Action="http://incomingwebchannel.hrz.jpos.org/ISoapMobile/requestWithIdRequest" Message="tns:requestWithId" />
      <output wsam:Action="http://incomingwebchannel.hrz.jpos.org/ISoapMobile/requestWithIdResponse" Message="tns:requestWithIdResponse" />
    </operation>
    <operation name="getCard">
      <input wsam:Action="http://incomingwebchannel.hrz.jpos.org/ISoapMobile/getCardRequest" Message="tns:getCard" />
      <output wsam:Action="http://incomingwebchannel.hrz.jpos.org/ISoapMobile/getCardResponse" Message="tns:getCardResponse" />
    </operation>
    <operation name="login">
      <input wsam:Action="http://incomingwebchannel.hrz.jpos.org/ISoapMobile/loginRequest" Message="tns:login" />
      <output wsam:Action="http://incomingwebchannel.hrz.jpos.org/ISoapMobile/loginResponse" Message="tns:loginResponse" />
    </operation>
    <operation name="billInq">
      <input wsam:Action="http://incomingwebchannel.hrz.jpos.org/ISoapMobile/billInqRequest" Message="tns:billInq" />
      <output wsam:Action="http://incomingwebchannel.hrz.jpos.org/ISoapMobile/billInqResponse" Message="tns:billInqResponse" />
    </operation>
    <operation name="billRequest">
      <input wsam:Action="http://incomingwebchannel.hrz.jpos.org/ISoapMobile/billRequestRequest" Message="tns:billRequest" />
      <output wsam:Action="http://incomingwebchannel.hrz.jpos.org/ISoapMobile/billRequestResponse" Message="tns:billRequestResponse" />
    </operation>
    <operation name="fundInquiry">
      <input wsam:Action="http://incomingwebchannel.hrz.jpos.org/ISoapMobile/fundInquiryRequest" Message="tns:fundInquiry" />
      <output wsam:Action="http://incomingwebchannel.hrz.jpos.org/ISoapMobile/fundInquiryResponse" Message="tns:fundInquiryResponse" />
    </operation>
    <operation name="fundInquiryPlain">
      <input wsam:Action="http://incomingwebchannel.hrz.jpos.org/ISoapMobile/fundInquiryPlainRequest" Message="tns:fundInquiryPlain" />
      <output wsam:Action="http://incomingwebchannel.hrz.jpos.org/ISoapMobile/fundInquiryPlainResponse" Message="tns:fundInquiryPlainResponse" />
    </operation>
    <operation name="paymentRequest">
      <input wsam:Action="http://incomingwebchannel.hrz.jpos.org/ISoapMobile/paymentRequestRequest" Message="tns:paymentRequest" />
      <output wsam:Action="http://incomingwebchannel.hrz.jpos.org/ISoapMobile/paymentRequestResponse" Message="tns:paymentRequestResponse" />
    </operation>
    <operation name="balance">
      <input wsam:Action="http://incomingwebchannel.hrz.jpos.org/ISoapMobile/balanceRequest" Message="tns:balance" />
      <output wsam:Action="http://incomingwebchannel.hrz.jpos.org/ISoapMobile/balanceResponse" Message="tns:balanceResponse" />
    </operation>
    <operation name="fundTransfer">
      <input wsam:Action="http://incomingwebchannel.hrz.jpos.org/ISoapMobile/fundTransferRequest" Message="tns:fundTransfer" />
      <output wsam:Action="http://incomingwebchannel.hrz.jpos.org/ISoapMobile/fundTransferResponse" Message="tns:fundTransferResponse" />
    </operation>
    <operation name="fundTransferPlain">
      <input wsam:Action="http://incomingwebchannel.hrz.jpos.org/ISoapMobile/fundTransferPlainRequest" Message="tns:fundTransferPlain" />
      <output wsam:Action="http://incomingwebchannel.hrz.jpos.org/ISoapMobile/fundTransferPlainResponse" Message="tns:fundTransferPlainResponse" />
    </operation>
    <operation name="topupMTN">
      <input wsam:Action="http://incomingwebchannel.hrz.jpos.org/ISoapMobile/topupMTNRequest" Message="tns:topupMTN" />
      <output wsam:Action="http://incomingwebchannel.hrz.jpos.org/ISoapMobile/topupMTNResponse" Message="tns:topupMTNResponse" />
    </operation>
    <operation name="topupMTNSingle">
      <input wsam:Action="http://incomingwebchannel.hrz.jpos.org/ISoapMobile/topupMTNSingleRequest" Message="tns:topupMTNSingle" />
      <output wsam:Action="http://incomingwebchannel.hrz.jpos.org/ISoapMobile/topupMTNSingleResponse" Message="tns:topupMTNSingleResponse" />
    </operation>
    <operation name="topupSetaval">
      <input wsam:Action="http://incomingwebchannel.hrz.jpos.org/ISoapMobile/topupSetavalRequest" Message="tns:topupSetaval" />
      <output wsam:Action="http://incomingwebchannel.hrz.jpos.org/ISoapMobile/topupSetavalResponse" Message="tns:topupSetavalResponse" />
    </operation>
    <operation name="getCardList">
      <input wsam:Action="http://incomingwebchannel.hrz.jpos.org/ISoapMobile/getCardListRequest" Message="tns:getCardList" />
      <output wsam:Action="http://incomingwebchannel.hrz.jpos.org/ISoapMobile/getCardListResponse" Message="tns:getCardListResponse" />
    </operation>
    <operation name="topupSetavalSingle">
      <input wsam:Action="http://incomingwebchannel.hrz.jpos.org/ISoapMobile/topupSetavalSingleRequest" Message="tns:topupSetavalSingle" />
      <output wsam:Action="http://incomingwebchannel.hrz.jpos.org/ISoapMobile/topupSetavalSingleResponse" Message="tns:topupSetavalSingleResponse" />
    </operation>
    <operation name="jiringBillInquiry">
      <input wsam:Action="http://incomingwebchannel.hrz.jpos.org/ISoapMobile/jiringBillInquiryRequest" Message="tns:jiringBillInquiry" />
      <output wsam:Action="http://incomingwebchannel.hrz.jpos.org/ISoapMobile/jiringBillInquiryResponse" Message="tns:jiringBillInquiryResponse" />
    </operation>
    <operation name="jiringBillRequest">
      <input wsam:Action="http://incomingwebchannel.hrz.jpos.org/ISoapMobile/jiringBillRequestRequest" Message="tns:jiringBillRequest" />
      <output wsam:Action="http://incomingwebchannel.hrz.jpos.org/ISoapMobile/jiringBillRequestResponse" Message="tns:jiringBillRequestResponse" />
    </operation>
    <operation name="balanceCP">
      <input wsam:Action="http://incomingwebchannel.hrz.jpos.org/ISoapMobile/balanceCPRequest" Message="tns:balanceCP" />
      <output wsam:Action="http://incomingwebchannel.hrz.jpos.org/ISoapMobile/balanceCPResponse" Message="tns:balanceCPResponse" />
    </operation>
    <operation name="requestCP">
      <input wsam:Action="http://incomingwebchannel.hrz.jpos.org/ISoapMobile/requestCPRequest" Message="tns:requestCP" />
      <output wsam:Action="http://incomingwebchannel.hrz.jpos.org/ISoapMobile/requestCPResponse" Message="tns:requestCPResponse" />
    </operation>
    <operation name="paymentRequestCP">
      <input wsam:Action="http://incomingwebchannel.hrz.jpos.org/ISoapMobile/paymentRequestCPRequest" Message="tns:paymentRequestCP" />
      <output wsam:Action="http://incomingwebchannel.hrz.jpos.org/ISoapMobile/paymentRequestCPResponse" Message="tns:paymentRequestCPResponse" />
    </operation>
    <operation name="billRequestCP">
      <input wsam:Action="http://incomingwebchannel.hrz.jpos.org/ISoapMobile/billRequestCPRequest" Message="tns:billRequestCP" />
      <output wsam:Action="http://incomingwebchannel.hrz.jpos.org/ISoapMobile/billRequestCPResponse" Message="tns:billRequestCPResponse" />
    </operation>
    <operation name="topupMTNCP">
      <input wsam:Action="http://incomingwebchannel.hrz.jpos.org/ISoapMobile/topupMTNCPRequest" Message="tns:topupMTNCP" />
      <output wsam:Action="http://incomingwebchannel.hrz.jpos.org/ISoapMobile/topupMTNCPResponse" Message="tns:topupMTNCPResponse" />
    </operation>
    <operation name="topupMTNCPSingle">
      <input wsam:Action="http://incomingwebchannel.hrz.jpos.org/ISoapMobile/topupMTNCPSingleRequest" Message="tns:topupMTNCPSingle" />
      <output wsam:Action="http://incomingwebchannel.hrz.jpos.org/ISoapMobile/topupMTNCPSingleResponse" Message="tns:topupMTNCPSingleResponse" />
    </operation>
    <operation name="topupSetavalCP">
      <input wsam:Action="http://incomingwebchannel.hrz.jpos.org/ISoapMobile/topupSetavalCPRequest" Message="tns:topupSetavalCP" />
      <output wsam:Action="http://incomingwebchannel.hrz.jpos.org/ISoapMobile/topupSetavalCPResponse" Message="tns:topupSetavalCPResponse" />
    </operation>
    <operation name="topupSetavalCPSingle">
      <input wsam:Action="http://incomingwebchannel.hrz.jpos.org/ISoapMobile/topupSetavalCPSingleRequest" Message="tns:topupSetavalCPSingle" />
      <output wsam:Action="http://incomingwebchannel.hrz.jpos.org/ISoapMobile/topupSetavalCPSingleResponse" Message="tns:topupSetavalCPSingleResponse" />
    </operation>
    <operation name="settlement">
      <input wsam:Action="http://incomingwebchannel.hrz.jpos.org/ISoapMobile/settlementRequest" Message="tns:settlement" />
      <output wsam:Action="http://incomingwebchannel.hrz.jpos.org/ISoapMobile/settlementResponse" Message="tns:settlementResponse" />
    </operation>
    <operation name="reversal">
      <input wsam:Action="http://incomingwebchannel.hrz.jpos.org/ISoapMobile/reversalRequest" Message="tns:reversal" />
      <output wsam:Action="http://incomingwebchannel.hrz.jpos.org/ISoapMobile/reversalResponse" Message="tns:reversalResponse" />
    </operation>
    <operation name="refund">
      <input wsam:Action="http://incomingwebchannel.hrz.jpos.org/ISoapMobile/refundRequest" Message="tns:refund" />
      <output wsam:Action="http://incomingwebchannel.hrz.jpos.org/ISoapMobile/refundResponse" Message="tns:refundResponse" />
    </operation>
    <operation name="walletCharge">
      <input wsam:Action="http://incomingwebchannel.hrz.jpos.org/ISoapMobile/walletChargeRequest" Message="tns:walletCharge" />
      <output wsam:Action="http://incomingwebchannel.hrz.jpos.org/ISoapMobile/walletChargeResponse" Message="tns:walletChargeResponse" />
    </operation>
    <operation name="walletBalance">
      <input wsam:Action="http://incomingwebchannel.hrz.jpos.org/ISoapMobile/walletBalanceRequest" Message="tns:walletBalance" />
      <output wsam:Action="http://incomingwebchannel.hrz.jpos.org/ISoapMobile/walletBalanceResponse" Message="tns:walletBalanceResponse" />
    </operation>
    <operation name="walletRequest">
      <input wsam:Action="http://incomingwebchannel.hrz.jpos.org/ISoapMobile/walletRequestRequest" Message="tns:walletRequest" />
      <output wsam:Action="http://incomingwebchannel.hrz.jpos.org/ISoapMobile/walletRequestResponse" Message="tns:walletRequestResponse" />
    </operation>
    <operation name="walletTopupMTN">
      <input wsam:Action="http://incomingwebchannel.hrz.jpos.org/ISoapMobile/walletTopupMTNRequest" Message="tns:walletTopupMTN" />
      <output wsam:Action="http://incomingwebchannel.hrz.jpos.org/ISoapMobile/walletTopupMTNResponse" Message="tns:walletTopupMTNResponse" />
    </operation>
    <operation name="walletTopupMTNSingle">
      <input wsam:Action="http://incomingwebchannel.hrz.jpos.org/ISoapMobile/walletTopupMTNSingleRequest" Message="tns:walletTopupMTNSingle" />
      <output wsam:Action="http://incomingwebchannel.hrz.jpos.org/ISoapMobile/walletTopupMTNSingleResponse" Message="tns:walletTopupMTNSingleResponse" />
    </operation>
    <operation name="walletTopupSetaval">
      <input wsam:Action="http://incomingwebchannel.hrz.jpos.org/ISoapMobile/walletTopupSetavalRequest" Message="tns:walletTopupSetaval" />
      <output wsam:Action="http://incomingwebchannel.hrz.jpos.org/ISoapMobile/walletTopupSetavalResponse" Message="tns:walletTopupSetavalResponse" />
    </operation>
    <operation name="walletTopupSetavalSingle">
      <input wsam:Action="http://incomingwebchannel.hrz.jpos.org/ISoapMobile/walletTopupSetavalSingleRequest" Message="tns:walletTopupSetavalSingle" />
      <output wsam:Action="http://incomingwebchannel.hrz.jpos.org/ISoapMobile/walletTopupSetavalSingleResponse" Message="tns:walletTopupSetavalSingleResponse" />
    </operation>
    <operation name="supportCollection">
      <input wsam:Action="http://incomingwebchannel.hrz.jpos.org/ISoapMobile/supportCollectionRequest" Message="tns:supportCollection" />
      <output wsam:Action="http://incomingwebchannel.hrz.jpos.org/ISoapMobile/supportCollectionResponse" Message="tns:supportCollectionResponse" />
    </operation>
    <operation name="request">
      <input wsam:Action="http://incomingwebchannel.hrz.jpos.org/ISoapMobile/requestRequest" Message="tns:request" />
      <output wsam:Action="http://incomingwebchannel.hrz.jpos.org/ISoapMobile/requestResponse" Message="tns:requestResponse" />
    </operation>
    <operation name="config">
      <input wsam:Action="http://incomingwebchannel.hrz.jpos.org/ISoapMobile/configRequest" Message="tns:config" />
      <output wsam:Action="http://incomingwebchannel.hrz.jpos.org/ISoapMobile/configResponse" Message="tns:configResponse" />
    </operation>
  </portType>
  <binding name="MobileServicePortBinding" type="tns:ISoapMobile">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="requestWithId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getCard">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="login">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="billInq">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="billRequest">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="fundInquiry">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="fundInquiryPlain">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="paymentRequest">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="balance">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="fundTransfer">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="fundTransferPlain">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="topupMTN">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="topupMTNSingle">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="topupSetaval">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getCardList">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="topupSetavalSingle">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="jiringBillInquiry">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="jiringBillRequest">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="balanceCP">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="requestCP">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="paymentRequestCP">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="billRequestCP">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="topupMTNCP">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="topupMTNCPSingle">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="topupSetavalCP">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="topupSetavalCPSingle">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="settlement">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="reversal">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="refund">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="walletCharge">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="walletBalance">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="walletRequest">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="walletTopupMTN">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="walletTopupMTNSingle">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="walletTopupSetaval">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="walletTopupSetavalSingle">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="supportCollection">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="request">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="config">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="MobileServiceService">
    <port name="MobileServicePort" binding="tns:MobileServicePortBinding">
      <soap:address location="https://nafisswitch.fanavacard.com:8443/nafis-web-4/services/mobile" />
    </port>
  </service>
</definitions>